


 body{
     margin-top: 20%;
    background-color: deeppink;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
button{
    margin-top: 10px;
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    cursor: pointer;
    border: none;
}
